.recipe-form-card {
  max-width: 600px;
  width: 90%;
  margin-top: 8px;
}

.recipe-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-form-card-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
}

#upload-cover-image-button {
  width: 100%;
}

Button:last-of-type {
  margin-top: 8px;
}